<div class="hhola">
    <div class="user-redirect-container fondo" style="background-image: url('assets/icons/fondo.png'); background-size: cover; background-position: center;">
        <div class="left-panel">
            <p-card class="role-card" header="Director" styleClass="p-shadow-3" (click)="navigateToSidebar()">
                <div class="p-d-flex p-ai-center p-jc-center">
                    <i class="pi pi-globe p-mr-2" style="font-size: 2em;"></i>
                    <i class="pi pi-lock" style="font-size: 2em;"></i>
                </div>
                <span>Director</span>
            </p-card>
        </div>
    
        <div class="right-panel" style="background-image: url(fondo.png);">
            <img src="fondo.png" alt="Logo UPeU" class="logo" />
            <div class="user-info">
                <i class="pi pi-user user-icon"></i>
                <p class="user-name">Immer Elias Cuellar Rodriguez</p>
                <p class="user-location">UPeU-UNIVERSIDAD SEDE</p>
                <p-button label="Cerrar sesión" styleClass="logout-button" [style]="{'background-color': '#ffa500', 'color': '#fff', 'font-size': '0.9em', 'padding': '0.5em 1.5em', 'border-radius': '5px'}"></p-button>
            </div>
        </div>
    </div>
    
</div>
